<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-36945-1660299157/blob/main/Aparna_718019L212_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Python

## 1. Split this string

In [1]:
s = "Hi there Sam!"

In [2]:
a = s.split(" ")
print(a)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742

In [4]:
print("The diamenter of {} is {} kilometers.".format(planet,diameter))

The diamenter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [6]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [7]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [8]:
t = np.zeros(10)
print(t)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [9]:
y = np.ones(10)*5
print(y)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [10]:
d = np.arange(20,36)
print(d)

[20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [11]:
p = np.arange(0,9).reshape(3,3)
print(p)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [12]:
a = np.array([1,2,3])
b = np.array([4,5,6])
c = np.concatenate((a,b),axis=0)
print(c)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [13]:
import pandas as pd

In [14]:
data=[['Ronaldo',7],['Messi',10],['Neymar',10]]
f = pd.DataFrame(data,columns=['Name','Jersey Number'])
print(f)

      Name  Jersey Number
0  Ronaldo              7
1    Messi             10
2   Neymar             10

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [15]:
date = pd.date_range(start = '01/01/2023', end = '02/10/2023')
print(date)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [16]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [17]:
l = pd.DataFrame(lists,columns=['Id','Name','Score'])
print(l)

   Id Name  Score
0   1  aaa     22
1   2  bbb     25
2   3  ccc     24